body,div,p,span{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.score{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    font-size: 24px;
    z-index: 100;
}
.score-val{
    font-size: 36px;
    color: #D08932;
    vertical-align: middle;
    font-family: monospace;
    font-weight: bold;
}
.op-tips{
    font-size: 13px;
    color: yellow;
}
.land{
    position: absolute;
    left: 50%;
    top: 0;
    width: 700px;
    height: 100%;
    margin-left: -350px;
}
@keyframes moveBg{
    0%{}
    100%{top: 0;}
}
.lang-bg{
    position: absolute;
    top: -300%;
    left: 0;
    width: 100%;
    height: 400%;
    background: url(../images/bg.jpg) repeat left bottom;
}
.lang-bg.go{
    animation: moveBg linear 60s forwards;
}
.start-game{
    position: absolute;
    top: 45%;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    padding: 10px 20px;
    background: #444;
    border-radius: 5px;
    color: #fff;
    opacity: 1;
    transition: display 0.3s;
}
.start-game.hide{
    display: none;
}
.challeger{
    position: absolute;
    bottom: 0;
    width: 32px;
    height: 40px;
    background: url(../images/aircraft.png) no-repeat;
    background-position: -5px -80px;
}
.enemy{
    position: absolute;
    top: -100px;
}
.boss{
    position: absolute;
    top: -300px;
    width: 200px;
    height: 190px;
    background: url(../images/boss.png) no-repeat;
}
.enemy.type1{
    width: 42px;
    height: 50px;
    background: url(../images/aircraft.png) no-repeat;
    background-position: 0px 0px;
}
.enemy.type2{
    width: 30px;
    height: 46px;
    background: url(../images/aircraft.png) no-repeat;
    background-position: -62px 0px;
}
.enemy.type3{
    width: 37px;
    height: 48px;
    background: url(../images/aircraft.png) no-repeat;
    background-position: -114px 0px;
}
.c-bullet{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #D08932;
}
@keyframes boom{
    0%{background: url(../images/boom1.png) no-repeat;}
    35%{background: url(../images/boom2.png) no-repeat;}
    70%{background: url(../images/boom3.png) no-repeat;}
    100%{background: transparent;}
}
.boom{
    position: absolute;
    width: 38px;
    height: 38px;
    background: url(../images/boom1.png) no-repeat;
    animation: boom 0.4s linear forwards;
}

@keyframes bigboom{
    0%{background: url(../images/boom1.png) no-repeat;background-size: cover; }
    35%{background: url(../images/boom2.png) no-repeat;background-size: cover; }
    70%{background: url(../images/boom3.png) no-repeat;background-size: cover; }
    100%{background: transparent;}
}
.bigboom{
    position: absolute;
    width: 100px;
    height: 100px;
    background: url(../images/boom1.png) no-repeat;
    background-size: cover; 
    animation: bigboom 0.6s linear forwards;
}

.winner{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 150px;
    background: #333;
    box-shadow: -2px -1px 5px #ccc;
    text-align: center;
}

.winner p:nth-child(1){
    color: #D08932;
    margin-top: 10px;
    font-size: 20px;
}
.winner p:nth-child(2){
    margin-top: 15px;
    font-size: 18px;
    margin-bottom: 30px;
    color: #fff;
}
.winner span{
    margin-top: 20px;
    cursor: pointer;
    padding: 5px 20px;
    background: #555;
    border-radius: 5px;
    color: #fff;
}
.winner.hide{
    display: none;
}