body,div,p{
    margin: 0;
    padding: 0;
    color: #fff;
}
html,body{
    height: 100%;
}
body{
    background: #B01F24;
    
}
.con-panel{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 750px;
    margin: 0 auto;
    background: url(../images/bg.jpg) no-repeat;
}
.btns{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 15%;
}
.create-room{
   margin-bottom: 10px;
   border: 5px solid #F2DA3A;
   background: #FEF655;
   border-radius: 5px;
   padding: 5px 15px;
   color: #333;
   font-weight: bold;
}
.join-room{
    border: 5px solid #F2DA3A;
    background: #EFE478;
    border-radius: 5px;
    padding: 5px 15px;
    color: #333;
    font-weight: bold;
}
